<!DOCTYPE html>
<html>
  <head>
    <title>Chiptle Near You</title>
  </head>
  
  <body>
    <h1>Where do you live</h1>
    
    <form method="post" action='/other_side'>
      Zipcode<br>
      <input type="text" name="zipcode">
      <input type="submit" value="">
    </form>
    
  </body> 
  
</html>
